.powers {
  width: 100%;
  min-height: 110vh;
  height: auto;
  display: flex;
  position: relative;
  padding: 0 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--blue);
}
.powers-title {
  color: var(--light-gray);
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Riffic";
  position: relative;
  top: 15%;
}
.powers-box {
  margin-top: 4rem;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}
.locations,
.family,
.emotions {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.location-image,
.family-image,
.emotions-image {
  width: 100%;
  height: 100;
  display: flex;
  justify-content: center;
  align-self: center;
}
.power-image {
  object-fit: cover;
  width: 100%;
}
.location-description,
.family-description,
.emotions-description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.power-text {
  color: var(--background-gray);
  font-family: "Riffic";
  font-size: 1.5rem;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* --------------------------------- */

.custom-shape-divider-top-1689634167 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1689634167 svg {
  position: relative;
  display: block;
  width: calc(221% + 1.3px);
  height: 188px;
}

.custom-shape-divider-top-1689634167 .shape-fill {
  fill: var(--background-gray);
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1689634167 svg {
    width: calc(221% + 1.3px);
    height: 197px;
  }
}

/* --------------------------------- */

.custom-shape-divider-bottom-1689634248 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689634248 svg {
  position: relative;
  display: block;
  width: calc(221% + 1.3px);
  height: 188px;
}

.custom-shape-divider-bottom-1689634248 .shape-fill {
  fill: var(--background-gray);
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1689634248 svg {
    width: calc(221% + 1.3px);
    height: 197px;
  }
}
