.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 2rem;    
}
.about-title{
    color: var(--blue);
    font-family: "Riffic";
    font-size: 4rem;
}
.sub-title{
    color: var(--blue);
    font-family: "Riffic";
    font-size: 2rem;
}
.text-highlight{
    color: var(--blue);
    font-family: "Riffic";
}
.about-description{
    margin-top: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-self: start;
    flex-direction: column;
    row-gap: 1.5rem;
    font-size: 1.8rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    text-align: left;
}

.about-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container img{
    object-fit: cover;
    width: 100%;
    height: 90%;
}

@media screen and (max-width: 1300px){
    .home{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .about-left{
        width: 100%;
        height: auto;
    }
    .about-right{
        width: 100%;
        height: auto;
    }
    .image-container img{
        max-height: 50vh;
    }

}

@media screen and (max-width: 500px){
    .about-description{
        font-size: 1rem;
    }
    .about-title{
        font-size: 2.5rem;
    }
    .image-container img{
        max-height: 50vh;
    }
    .sub-title{
        font-size: 1.5rem;
    }
}