.home{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    background-color: blue;
    width: 50%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
        
}
    
.right{
    background-color: red;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px){
    .home{
        width: 100vw;
        height: 100vh;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}