.viewer{
    width: 100vw;
    height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote-container{
    width: 50rem;
    height: 10rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.quote-svg{
    width: 50vw;
    max-width: 50rem;
}
.icon{
    position: absolute;
    bottom: 0.1%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.frame{
    width: 100%;
    height: 100%;
}
