.languages-dropdown{
   padding: 1rem;
   width: 15rem;
   transition: .5s; 
   position: absolute;
   right: 0px;
   top: 0px;
   z-index: 1;
   
}

.selected-language{
    background-color: var(--light-gray);
    width: 100%;
    position: relative;
    padding: 1rem 1.2rem;
    display: flex;
    gap: .5rem;
    border: 0.1rem solid var(--blue);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--blue);
    position: relative;
}
.selected-language::after{
    display: block;
    content: "";
    width: .8rem;
    height: .8rem;
    border-right: 0.1rem solid var(--blue);
    border-bottom: 0.1rem solid var(--blue);
    position: absolute;
    right: 1rem;
    top: 1rem;
    transform: rotate(45deg);
    transition: .3s; 
}

.selected-language.open::after{
    transform: rotate(225deg);
    top: 1.4rem;
}
.language-item{
    width: 100%;
    top: 100%;
    right: 0%;
    display: flex;
    gap: .5rem;
    padding: 1rem 1.2rem;
    cursor: pointer;
    background-color: #e9e9e9;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--blue);
    transition: .5s;
}
.language-item:hover{
    color: var(--blue);
    background-color:#d1d1d1;
}
@media screen and (max-width: 650px){
    .languages-dropdown{
        width: 10rem;
        padding: .5rem;
    }
    .selected-language{
        padding: 0.5rem 1rem;
        font-size: .7rem;
    }
    .language-item{
        padding: 0.5rem 1rem;
        font-size: .8rem; 
    }
    .selected-language::after{
    width: .4rem;
    height: .4rem;
    border-right: 0.1rem solid var(--blue);
    border-bottom: 0.1rem solid var(--blue);
    position: absolute;
    right: 1rem;
    top: .6rem
    }
    .selected-language.open::after{
        top: .9rem
    }
}