.landing-page {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing-top {
    margin-top: 8rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.punch-line-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    text-align: left;
}

.punch-line {
    font-weight: bold;
    font-size: 2.5rem;
    color: #00487c;
    font-family: "Riffic";
}

.diving-goggles-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.diving-goggles-box {
    background-color: var(--background-gray);
    width: auto;
    height: 30rem;
    position: relative;
}

.diving-goggles {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 0);
}

.video-in-goggles {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 0);
}

.control-list {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--light-gray);
    border-radius: 2rem;
    overflow: hidden;
}

.video-control {
    border: none;
    outline: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--blue);
    color: var(--background-gray);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-list,
.location-list-hidden {
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: visible;
    opacity: 1;
    gap: .5rem;
    margin-left: .5rem;
    animation: open-state .5s ease-out forwards;
}

.location-list-hidden {
    visibility: hidden;
    opacity: 0;
    width: 0;
    animation: close-state .5s ease-out forwards;
}

@keyframes open-state {
    100% {
        width: 16rem;
    }

    80% {
        visibility: hidden;
        opacity: 0;
    }

    0% {

        visibility: hidden;
        opacity: 0;
        width: 0;
        height: 0;
        margin-left: 0;
    }
}

@keyframes close-state {
    100% {
        visibility: hidden;
        opacity: 0;
        width: 0;
        height: 0;
        margin-left: 0;
    }

    40% {
        visibility: hidden;
        opacity: 0;
    }

    0% {
        width: 16rem;

    }
}

.location-button,
.location-button-active {
    padding: .5em 1rem;
    height: 2.5rem;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: .8rem;
    border-radius: 2rem;
    background-color: var(--light-gray);
    color: var(--blue);
    transition: .5s;
    cursor: pointer;
}

.location-button:hover {
    background-color: var(--median-gray);
}

.location-button-active {
    font-size: .8rem;
    background-color: var(--blue);
    color: var(--background-gray);
}

@media screen and (max-width: 1200px) {
    .landing-page {
        flex-direction: column;
        height: auto;
        margin-top: 3rem;
    }

    .punch-line-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .diving-goggles-container {
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .diving-goggles-box {
        height: 55vw
    }
    .punch-line{
        font-size: 2.1rem;
    }

}

@media screen and (max-width: 600px) {
    .punch-line{
        font-size: 1.2rem;
    }
}