
:root{
  --white:#FFFFFF;
  --light-gray:#8C8C8C;
  --blue:#00487C;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
html,
body,
#root{
  height: 100%;
  background-color: var(--white);
  overflow-x: hidden;
}