
:root{
  --white:#FFFFFF;
  --dark-grey:#181818;
  --light-gray:#8C8C8C;
  --green:#03F747;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}
html,
body,
#root{
  height: 100%;
  background-color: var(--white);
  overflow-x: hidden;
}